games/*/Debug/
games/*/Release/
vs2015/Debug/
vs2015/Release/
playallthegames/Debug/
playallthegames/Release/
*.sdf
*.opensdf
PlayAllTheGames.rar
assets/games/TowerTopple/ball.3ds.json
assets/games/BackAttack/*.fbx.json
*.blend1
patg/
